* {
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

body {
  padding-right: 0px !important;
}

.modal-open {
  overflow-y: auto !important;
}
header {
  font-family: Verdana;
  height: 394px;
  min-height: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 122, 173, 0.1),
      rgba(0, 122, 173, 0.1)
    ),
    url(../assets/header.png);
  background-size: cover;
  background-blend-mode: color-dodge;
  background-position: center;
}

#profile-picture-switch-container {
  padding-top: 300px;
}

#profilePictureButton {
  background: transparent;
  border: none;
}

.image-wrapper {
  color: #007aad;
}

.image-wrapper img {
  border-radius: 50%;
  border: 2px solid #007aad;
  height: 150px;
  width: 150px;
}

.profil-name {
  color: #007aad;
  font-weight: bold;
  margin-top: 10px;
  font: normal normal bold 20px/24px Verdana;
}

.custom-badge {
  width: 30px;
  height: 30px;
  background-color: #ad325d;
  color: #ffffff;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  position: absolute;
  bottom: 40px;
  right: -8px;
}

@media (max-width: 1440px) {
  header {
    background-position: top right;
  }
}

@media (max-width: 1024px) {
  header {
    background-position: 0px 0px, top right;
  }
}

@media (max-width: 768px) {
  header {
    background-image: linear-gradient(
      0deg,
      rgba(0, 122, 173, 0.6),
      rgba(0, 122, 173, 1)
    );
  }

  #profile-picture-switch-container {
    padding-top: 100px;
  }

  .profil-name {
    color: #ffffff;
  }
}

@media (max-width: 576px) {
  #profile-picture-switch-container {
    padding-top: 80px;
  }

  header {
    height: 338px;
    width: 100%;
  }

  .image-wrapper img {
    width: 100px;
    height: 100px;
  }

  .custom-badge {
    position: absolute;
    bottom: 20px;
    right: -5px;
  }
}
